<div class="innerContent">
  <div class="top-content">
    <h1 class="logo">ForYourself</h1>
    <div class="nav-bar">
      <ul class="sidebarMenu">
        <li class="sidebarMenuItem">
          <a href="" routerLinkActive="active">Users</a>
        </li>
        <li class="sidebarMenuItem"><a href="/comments">Comments</a></li>
        <li class="sidebarMenuItem"><a href="/photos">Photos</a></li>
        <li class="sidebarMenuItem"><a href="/posts">Posts</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-content">
    <footer class="footer-of-the-menu">
      Copyright &copy; 2020 All rights reserved
    </footer>
  </div>
</div>
