<div class="innerContent">
    <div class="top-content">
        <h1 class="logo">
            ForYourself
        </h1>
        <div class="nav-bar">
            <ul class="sidebarMenu">
                <li class="sidebarMenuItem"><a href=""  routerLinkActive="active">Users</a></li>
                <li class="sidebarMenuItem"><a href="/comments">Comments</a></li>
                <li class="sidebarMenuItem"><a href="/photos">Photos</a></li>
                <li class="sidebarMenuItem"><a href="/posts">Posts</a></li>
            </ul>
        </div>        
    </div>
    <div class="bottom-content">
        Tel: <a href="tel:099-222-22-22">099-222-22-22</a>
    </div>
</div>