<div class="user-card">
 <div class="user-main-info">
  <h1 class="user-name">{{ user.name }}</h1>
  <p class="user-email">
    Write me an email:
    <a href="mailto:">
      {{ user.email }}
    </a>
  </p>
  <p class="user-address">User address: {{ userAddress }}</p>
  <p class="users-company">I work in {{ userCompany }}</p>
  <p class="user-phone">
    Call me at the number:
    <a href="tel:+">
      {{ user.phone }}
    </a>
  </p>
  <p class="user-site">
    Additional source of communication:
    {{ user.website }}
  </p>
 </div>
 <div class="btn-wrapper">
   <button (click)="deleteUserItem()">Delete user card</button>
 </div>
</div>
