<div class="edit-container">
  <h1 class="edit-title">Editing</h1>
  <form
    class="edit-form"
    [formGroup]="formGroup"
    (ngSubmit)="save()"
    *ngIf="postInfo"
  >
    <div class="input-container">
      <input class="edit-control" type="text" formControlName="postTitle" />
      <textarea
        class="edit-control"
        name="edit-control"
        cols="30"
        rows="10"
        formControlName="postDesc"
        style="resize: none"
      ></textarea>
    </div>

    <div class="btns-container">
      <button
        class="btn btn-submit"
        type="submit"
        [disabled]="!formGroup.valid"
      >
        Save
      </button>
      <button
        class="btn btn-cancel"
        type="button"
        mat-button
        [mat-dialog-close]="true"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
